.App {
  text-align: center;
}

body{
  max-width: 98vw;
}

.comment-box{
  background-color: #93B4F4!important;
}
.comment-paper{
  background-color: #e0eaff!important;
}

.comment-paper-right{
  background-color: #e0eaff!important;
  padding-bottom: 40px!important;
}

button{
  background-color: #93B4F4!important;
  border-radius: 50px!important;
  border: 0px!important;
  width: 100px!important;
  
}